%h1 Usage this month
.stats
  %ul
    %li
      98
      %span Items
    %li
      312
      %span Widgets
    %li
      42
      %span Objects
    %li
      134
      %span Things
    %li
      61
      %span Blobs
    %li
      192
      %span Woozles
