!!!
%html
  %head
    %title
      Key benefit of using this product -
      = addon_config[:name]
    :css
      body {
        background: #80A550;
        text-align: center;
      }
  %body
    %img{ :src => "/images/logo-big.png" }
